body{
  font-family: 'Catamaran', sans-serif;
}
body{
  background: #517fa4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #517fa4 , #243949); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #517fa4 , #243949); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

h1{
  background-color: #4880db;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  color: #595a5b;
}

li:nth-child(2n){
  background-color: #f2f2f2;
}

input {
  font-size: 20px;
  background-color: #f2f2f2;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #4880db;
  border: 3px solid rgba(0,0,0,0);
}

input:focus s{
  background-color: white;
  border: 3px solid #4880db;
  outline: none;
}

#container{
width: 360px;
margin: 100px auto;
background-color: #f2f2f2;
box-shadow:  0 0 3px rgb(0,0,0, 0.1);
}

.completed{
  color: gray;
  text-decoration: line-through;
}

.fa-plus-circle{
  float: right;
}

span {
  background-color: #e82929;
  height: 40px;
  margin-right: : 20px;
  text-align: center;
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.4s linear;
  opacity: 0;
}

li:hover span{
  width: 40px;
  opacity: 1.0;
}
